In [ ]:
import marimo as mo

In [ ]:
from vega_datasets import data

In [ ]:
dataframe_transformer = mo.ui.dataframe(data.iris())
dataframe_transformer

&lt;marimo-dataframe data-initial-value=&#x27;{&amp;quot;transforms&amp;quot;:[]}&#x27; data-label=&#x27;null&#x27; data-columns=&#x27;[[&amp;quot;sepalLength&amp;quot;,&amp;quot;number&amp;quot;,&amp;quot;float64&amp;quot;],[&amp;quot;sepalWidth&amp;quot;,&amp;quot;number&amp;quot;,&amp;quot;float64&amp;quot;],[&amp;quot;petalLength&amp;quot;,&amp;quot;number&amp;quot;,&amp;quot;float64&amp;quot;],[&amp;quot;petalWidth&amp;quot;,&amp;quot;number&amp;quot;,&amp;quot;float64&amp;quot;],[&amp;quot;species&amp;quot;,&amp;quot;string&amp;quot;,&amp;quot;object&amp;quot;]]&#x27; data-dataframe-name=&#x27;&amp;quot;df&amp;quot;&#x27; data-total=&#x27;150&#x27; data-page-size=&#x27;5&#x27; data-show-download=&#x27;true&#x27;&gt;&lt;/marimo-dataframe&gt;

In [ ]:
dataframe_transformer.value

,sepalLength,sepalWidth,petalLength,petalWidth,species
0,5.1,3.5,1.4,0.2,setosa
1,4.9,3.0,1.4,0.2,setosa
2,4.7,3.2,1.3,0.2,setosa
3,4.6,3.1,1.5,0.2,setosa
4,5.0,3.6,1.4,0.2,setosa
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,virginica
146,6.3,2.5,5.0,1.9,virginica
147,6.5,3.0,5.2,2.0,virginica
148,6.2,3.4,5.4,2.3,virginica
149,5.9,3.0,5.1,1.8,virginica