# Filterable DataFrame

In [ ]:
# Read the csv
df = pd.read_json(data_url("cars.json"))

In [ ]:
# Create options for select widgets
manufacturer_options = df["Name"].str.split().str[0].unique()
manufacturer_options.sort()
cylinder_options = df["Cylinders"].unique().astype(str)
cylinder_options.sort()

In [ ]:
# Create the filters
manufacturer = mo.ui.dropdown(manufacturer_options, label="Manufacturer")
cylinders = mo.ui.dropdown(cylinder_options, label="Cylinders")

horse_power = mo.ui.range_slider.from_series(
    df["Horsepower"],
    show_value=True,
)

mo.hstack([manufacturer, horse_power, cylinders], gap=3).left()

In [ ]:
filter_df(df)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Name</th>
      <th>Miles_per_Gallon</th>
      <th>Cylinders</th>
      <th>Displacement</th>
      <th>Horsepower</th>
      <th>Weight_in_lbs</th>
      <th>Acceleration</th>
      <th>Year</th>
      <th>Origin</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>chevrolet chevelle malibu</td>
      <td>18.0</td>
      <td>8</td>
      <td>307.0</td>
      <td>130.0</td>
      <td>3504</td>
      <td>12.0</td>
      <td>1970-01-01</td>
      <td>USA</td>
    </tr>
    <tr>
      <th>1</th>
      <td>buick skylark 320</td>
      <td>15.0</td>
      <td>8</td>
      <td>350.0</td>
      <td>165.0</td>
      <td>3693</td>
      <td>11.5</td>
      <td>1970-01-01</td>
      <td>USA</td>
    </tr>
    <tr>
      <th>2</th>
      <td>plymouth satellite</td>
      <td>18.0</td>
      <td>8</td>
      <td>318.0</td>
      <td>150.0</td>
      <td>3436</td>
      <td>11.0</td>
      <td>1970-01-01</td>
      <td>USA</td>
    </tr>
    <tr>
      <th>3</th>
      <td>amc rebel sst</td>
      <td>16.0</td>
      <td>8</td>
      <td>304.0</td>
      <td>150.0</td>
      <td>3433</td>
      <td>12.0</td>
      <td>1970-01-01</td>
      <td>USA</td>
    </tr>
    <tr>
      <th>4</th>
      <td>ford torino</td>
      <td>17.0</td>
      <td>8</td>
      <td>302.0</td>
      <td>140.0</td>
      <td>3449</td>
      <td>10.5</td>
      <td>1970-01-01</td>
      <td>USA</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>401</th>
      <td>ford mustang gl</td>
      <td>27.0</td>
      <td>4</td>
      <td>140.0</td>
      <td>86.0</td>
      <td>2790</td>
      <td>15.6</td>
      <td>1982-01-01</td>
      <td>USA</td>
    </tr>
    <tr>
      <th>402</th>
      <td>vw pickup</td>
      <td>44.0</td>
      <td>4</td>
      <td>97.0</td>
      <td>52.0</td>
      <td>2130</td>
      <td>24.6</td>
      <td>1982-01-01</td>
      <td>Europe</td>
    </tr>
    <tr>
      <th>403</th>
      <td>dodge rampage</td>
      <td>32.0</td>
      <td>4</td>
      <td>135.0</td>
      <td>84.0</td>
      <td>2295</td>
      <td>11.6</td>
      <td>1982-01-01</td>
      <td>USA</td>
    </tr>
    <tr>
      <th>404</th>
      <td>ford ranger</td>
      <td>28.0</td>
      <td>4</td>
      <td>120.0</td>
      <td>79.0</td>
      <td>2625</td>
      <td>18.6</td>
      <td>1982-01-01</td>
      <td>USA</td>
    </tr>
    <tr>
      <th>405</th>
      <td>chevy s-10</td>
      <td>31.0</td>
      <td>4</td>
      <td>119.0</td>
      <td>82.0</td>
      <td>2720</td>
      <td>19.4</td>
      <td>1982-01-01</td>
      <td>USA</td>
    </tr>
  </tbody>
</table>
<p>400 rows Ã— 9 columns</p>
</div>

In [ ]:
def filter_df(df):
    filtered_df = df
    if manufacturer.value:
        filtered_df = filtered_df[
            filtered_df["Name"].str.contains(manufacturer.value, case=False)
        ]
    if cylinders.value:
        filtered_df = filtered_df[filtered_df["Cylinders"] == cylinders.value]
    if horse_power.value:
        left, right = horse_power.value
        filtered_df = filtered_df[
            (filtered_df["Horsepower"] >= left)
            & (filtered_df["Horsepower"] <= right)
        ]
    return filtered_df

In [ ]:
def data_url(file):
    return f"https://cdn.jsdelivr.net/npm/vega-datasets@v1.29.0/data/{file}"

In [ ]:
import marimo as mo
import pandas as pd